/*----------------------------------------------
--About
-----------------------------------------------  */

.section-about {
	margin: 2em 0;

	h1 { text-align: center; color: $color-blue; }

	p { text-align: center; color: $color-grey; }

	.row { margin: 2em 0 }
	
        .program {
                @include animation(fade-in ease-in-out 1s 1s both);
                position: relative;
                display: table;
		margin: 1em auto;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
		text-transform: uppercase;
                border: 1px solid $color-dark;
                width: 80%;
                max-width: 960px;
                min-height: 300px;
                max-height: 600px;
                transition: ease-out 0.5s;
                p {
                        display: table-cell;
                        position: relative;
                        vertical-align: middle;
                        font-family: Lato;
                        font-weight: 900;
                        font-size: 2em;
                        text-align: center;
                        color: $color-dark;
                }
        }
        .program:hover {
                background-color: white;
                border: 1px solid $color-grey;
                color: $color-grey;
                p {
                        @include animation(rubber-band ease-in-out 1s);
                }
        }

        .discover {
		position: relative;
                background-image: url(https://s3.ap-northeast-2.amazonaws.com/international-vaccine-institute/two-grills-940x600px.jpg);
	        background-size: cover;
	        background-repeat: no-repeat;
	        background-position:    50%;
	}
        &:after{
	        content: '';
	        position: relative;
	        top: 0;
	        left: 0;
	        height: 100%;
	        width: 100%;
	        background: rgba($color-light, 0.5);
                background-image: linear-gradient(180deg,#fff 0,hsla(0,0%,100%,0));
	        z-index: 9;
        }


        .develop {
	}

        .deliver {
	}

        .sustain {
	}
}
