/*----------------------------------------------
--About
-----------------------------------------------  */

.section-about {
	margin: 2em 0;
	h1 { text-align: center; color: $color-blue; }
	p { text-align: center; color: $color-grey; }
}
