.section-banner {
	position: relative;
	display: table;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	font-family: Lato;
	font-weight: 100;
	font-size: 36px;
	font-size: calc(1.25em + 25%);
	line-height: 44px;
	line-height: calc(1.75em + 25%);
	color: $color-light;
	overflow: hidden;
	@include overlay($color-dark, 0.8);
	.stack-1 {
		z-index: 5;
		position: absolute;
		opacity: 0;
	}
	.stack-2 {
		z-index: 6;
		position: absolute;
		opacity: 0;
	}
	.stack-3 {
		z-index: 7;
		position: absolute;
		opacity: 0;
	}
	                .push {
				position: relative;
	                        @include animation(vflop ease-out 27s 2s infinite forwards);
	                }
	                .left {
				position: relative;
	                        @include animation(move-left ease-out 27s 11s infinite forwards);
	                }
	                .right {
				position: relative;
	                        @include animation(move-right ease-out 27s 11s infinite forwards);
	                }
	                .up {
				position: relative;
	                        @include animation(move-up ease-out 27s 20s infinite forwards);
	                }
	                .down {
				position: relative;
	                        @include animation(move-down ease-out 27s 20s infinite forwards);
	                }
 	ul.keyframe-slider {
		li {
			@include bg-abs;
			background-attachment: fixed;
			opacity: 0;
			@include animation(fade-out 27s infinite both);
			background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/whiteheads-800x1200px.jpeg);
			@media (min-width: $mq-med) {
				background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/whiteheads-2000x1350px.jpeg);
			}
		}
	 	li:nth-child(2) {
			background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/trapped-800x1200px.jpeg);
			@include animation-delay(18s);
			@media (min-width: $mq-med) {
				background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/mossheads-2000x1350px.jpeg);
			}
		}
		li:nth-child(3) {
			background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/whitesquare-800x1200px.jpeg);
			@include animation-delay(9s);
			@media (min-width: $mq-med) {
				background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/crystalcubes-2000x1350px.jpeg);
			}
		}
	}
	.yellow-button {
		@include animation(fade-in ease-in-out 1s 1s both);
		position: relative;
		display: table;
                border: 1px solid $color-dark;
                border-radius: 50px;
                background-color: $color-yellow;
		background-image: linear-gradient(180deg,#fff 0,hsla(0,0%,100%,0));
                width: 100px;
                height: 100px;
                transition: ease-out 0.5s;
		p {
			display: table-cell;
			position: relative;
			vertical-align: middle;
                	font-family: Lato;
			font-weight: 900;
			font-size: 15px;
                	text-align: center;
                	color: $color-dark;
		}
	}
	.yellow-button:hover {
                background-color: white;
                border: 1px solid $color-orange;
                color: $color-orange;

	}
}
@media (min-width: $mq-small) {
	font-size: 36px;
	font-size: calc(1.75em + 25%);
	line-height: 44px;
	line-height: calc(1.05em + 25%);
}
