/*----------------------------------------------
--Contact
-----------------------------------------------  */

.section-contact {
	position: relative;
	display: table;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: $color-grey;
	
	h1 {
		color: $color-grey;
	}

	img {
		width: 100px;
	}
}
