/*----------------------------------------------   
-- Header Styling
-----------------------------------------------  */

.header {
        position: relative;
        display: table;
        width: 100%;
        margin: 2em auto;

	.container {
        	position: relative;
        	display: table-cell;
		vertical-align: middle;
		background-color: $color-blue;
        	color: $color-light;
        	text-align: center;
	}

        img {
                width: 100px;
        }
}

