/*----------------------------------------------
--Introduction
-----------------------------------------------  */

.section-introduction {
	background-image: url("https://s3.ap-northeast-2.amazonaws.com/international-vaccine-institute/ivi-header-blue-2000x1136.jpg");
	background-attachment: fixed;
	.featured {
		background-color: #ff6600; 
		margin: 25vh auto;
		padding: 50px 0;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		width: 100%;
		h1 {
			text-color: $color-light;
			margin: 2em 0;
		}
		h3 {
			text-color: $color-grey;
			margin: 1em 0;
		}
	}
}
