/*----------------------------------------------
--Introduction
-----------------------------------------------  */

.section-introduction {
	background-image: url("https://s3.ap-northeast-2.amazonaws.com/international-vaccine-institute/ivi-header-blue-2000x1136.jpg");
	background-attachment: fixed;
	.row {
		margin: 25vh auto;
		.featured {
			background-color: $color-yellow; 
			padding: 50px 0;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			width: 100%;
			margin: 0 auto;
			h2 {
				font-size: font-size: calc(1.5em + 25%);
				font-family: playfair display,georgia,times,serif;
				text-color: $color-light;
				margin: 2em 0;
			}
			.sections {
				border: 1px $color-yellow solid;
				background-color: $color-light; 
				color: $color-grey;
				h4 {
					text-color: $color-grey;
					margin: 1em 0;
				}
			}
		}
	}
}
