/*----------------------------------------------   
--Radial Gradient
-----------------------------------------------  */
@mixin radial-gradient($from, $to) {
    background: -moz-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to));
    background: -webkit-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -o-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -ms-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: radial-gradient(center, circle cover, $from 0%, $to 100%);
    background-color: $from;
}

/*----------------------------------------------   
--Banner Bgs
-----------------------------------------------  */
@mixin bg-abs{
	height: 100% !important;
	width: 100%;
	position: absolute;
	top: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position:	50%;
	z-index:	0;
}

/*----------------------------------------------   
--overlay psedu
-----------------------------------------------  */
@mixin overlay($bgColor: #fff, $bgOpacity: 0.6){
	&:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba($bgColor, $bgOpacity);
	z-index: 0;
	}
	
	.v-center{
		position:	relative;
		z-index:	2;
	}
}

@mixin programs($bgImage: "https://s3.ap-northeast-2.amazonaws.com/international-vaccine-institute/finger-in-mouth-940x600px.jpg", $overlayColor: $color-rose) {
                @include animation(fade-in ease-in-out 1s 1s both);
                position: relative;
                display: table;
                background-image: url($bgImage);
                background-size: cover;
                background-repeat: no-repeat;
                background-position:    50%;
                margin: 1em auto;
                width: 100%;
                max-width: 960px;
                min-height: 300px;
                max-height: 600px;
                p {
                        display: table-cell;
                        position: relative;
                        vertical-align: middle;
                        font-family: Lato;
                        font-weight: 900;
                        font-size: 2em;
                        text-align: center;
                        text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
                        text-transform: uppercase;
                        color: $color-light;
                 }
                transition: ease-out 0.5s;
        &:hover {
                p {
                        @include animation(rubber-band ease-in-out 1s);
                }
        }
        &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                border: 1px solid $color-dark;
                background-image: linear-gradient(180deg,hsla(0,0%,100%,0) 0, rgba($overlayColor, 0.5));
                z-index: 0;
        }
        &:hover:after, &:focus:after {
                background-color: rgba($overlayColor,0.4);
        }
}
