/*----------------------------------------------
--Page Styling
-----------------------------------------------  */

.page-header {
	padding: 0;
	margin: 0;
	border: none;
	h1 {
		font-family: Lato;
		font-weight: 900;
		font-size: 1.25em;
        	text-align: left;
        	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	        text-transform: uppercase;
		color: $color-blue;
	}
}

.content {
	width: 80%;
	margin: 1em auto;
}

