/*----------------------------------------------
--Ribbon
-----------------------------------------------  */

.section-ribbon {
	padding: 2em;
	background-color: $color-blue;
	color: $color-light;
	z-index: 1;
	
	.ribbon-text {
		position: relative;
		margin: 1em 0;
		padding: 1em 0;
		font-family: Lato;
		font-style: italic;
		font-weight: 700;
		font-size: 1.55em;
		line-height: 1.5em;
		z-index: 3;
		
		.ribbon-number {
			font-size: 0.9em;
			font-family: Lato;
			font-style: italic;
			font-weight: 100;
			line-height: 1.25em;
			color: $color-grey;
		}
		@media (min-width: $mq-small) {
			font-size: 1.5em;
			line-height: 0.905em;
		}

		h2 {
			font-size: 0.9em;
			font-style: normal;
			font-weight: 900;
			text-transform: uppercase;
			line-height: 1.55em;
			color: $color-light-alpha;
		}
		@media (min-width: $mq-small) {
			font-size: 1.55em;
			line-height: 1.55em;
		}
	
		p {
			font-size: 0.55em;
			font-style: normal;
			font-weight: 100;
			text-transform: uppercase;
			line-height: 1.5em;
			color: $color-light-alpha;
		}
		@media (min-width: $mq-small) {
			font-size: 0.45em;
			line-height: 1.5em;
		}
	}
	
	a {
		text-decoration: none;
		color: $color-light-alpha;
	}
	
	img {
		float: left;
	}
}
