/*----------------------------------------------
--Ribbon
-----------------------------------------------  */

.section-ribbon {
	padding: 2em;
	background-color: $color-blue;
	color: $color-light;
	z-index: 1;
	
	.ribbon-text {
		position: relative;
		margin: 1em 0;
		padding: 1em 0;
		font-family: Lato;
		font-style: italic;
		font-weight: 700;
		font-size: 1.25em;
		line-height: 1.6em;
		z-index: 3;
		
		.ribbon-number {
			font-size: 1.5em;
			font-family: Lato;
			font-style: italic;
			font-weight: 100;
			text-alight: right;
		}

		h2 {
			font-size: 1.75em;
			font-style: normal;
			font-weight: 900;
			text-transform: uppercase;
			line-height: 1.3em;
			color: $color-light-alpha;
		}
	
		p {
			font-size: 0.75em;
			font-style: normal;
			font-weight: 100;
			text-transform: uppercase;
			line-height: 1.5em;
			color: $color-light-alpha;
		}
	}
	
	a {
		text-decoration: none;
		color: $color-grey;
	}
	
	img {
		float: left;
	}
}
